
{% extends "blog/base.html" %}

{% block title %}My Blog{% endblock %}

{% block content %}
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1>{{ post.title }}</h1>
    </div>
    <div class="panel-body">
      <div class=" panel panel-success">
        <div class="container-fluid">
          <p class="margin-top">Published {{ post.publish }} by {{ post.author }}</p>
          {{ post.body|linebreaks }}
          <p><a href="{% url "blog:post_share" post.id %}">Share this post</a></p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
