{% extends "blog/base.html" %}

{% block title %}My Blog{% endblock %}

{% block content %}
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1>My Blog</h1>
    </div>
    <div class="panel-body">
      {% for post in posts %}
      <div class=" panel panel-success">
        <div class="container-fluid">
          <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
          <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
          {{ post.body|truncatewords:30|linebreaks }}
        </div>
      </div>
      {% endfor %}
      {% include "pagination.html" with page=posts %}
    </div>
  </div>

{% endblock %}
